<!DOCTYPE html>
<html lang="en">
<!-- ROKU FLASHBACK APP BY MIKE PRIOR AND SCOTT OLTHOFF -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js Single-File JavaScript Component Demo</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
      integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
      crossorigin="anonymous"></script>
  
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <link rel="stylesheet" href="css/main.css">
  
  </head>


<body>
    <main id="app">
        <div>
            <header>
                <!-- Site Logo -->
                <img src="images/roku_logo.svg" alt="Flashback Logo" id="header-logo">
                <!-- Account Navigation -->
                <div id="header-account-nav">
                    <!-- Navigation Links -->
                    <ul id="header-account-links">
                        <!-- Blank User Image -->
                        <li v-if="authenticated"><i class="fas fa-user-circle"></i></li>
                        <!-- Admin Settings Cog Wheel - only if authenticated-->
                        <li v-if="administrator"><i class="fas fa-cog"></i></li>
                        <!-- Log Out button - only if logged in -->
                        <li v-if="authenticated" v-on:click="logout()"><i class="fas fa-power-off"></i></li>
                    </ul>
                </div>
            </header> 
            <div class="header-site-nav">
                <router-link class="header-site-links" to="/">Home</router-link>
                <router-link class="header-site-links" to="/movies">Movies</router-link>
                <router-link class="header-site-links" to="/tv">TV Shows</router-link>
                <router-link class="header-site-links" to="/music">Music</router-link>
                <router-link class="header-site-links" to="/login">Sign In</router-link>
                <router-link class="header-site-links" to="/signup">Sign Up</router-link>
            </div>
        </div>

        <div class="router-view">
            <!-- first thing in component templates should be a container -->
            <router-view @authenticated="setAuthenticated"></router-view>
        </div>

        <!-- Footer -->
        <footer>
            <ul class="footer-site-nav">
                <router-link class="footer-site-links" to="/">Home / Sign In</router-link>
                <router-link class="footer-site-links" to="/movies">Movies</router-link>
                <router-link class="footer-site-links" to="/tv">TV Shows</router-link>
                <router-link class="footer-site-links" to="/music">Music</router-link>
            </ul>
        </footer>
        <!-- End Footer -->
        <!-- copright information -->
        <p class="copy">&copy; 2020<br> Roku Flashback By Scott Olthoff and Michael Prior</p>
    </main>
    <!-- End Main App -->

    <!-- Script Tags -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

  <script type="module" src="js/main.js"></script>
    
</body>
</html>