.account-settings-container{
    max-width:100%;
    margin: 0 auto;

    @include for-tablet{
        max-width:80%;
    }

    @include for-desktop{
        max-width: 60%;
    }
}

.account-settings-form{
    display: flex;
    flex-direction: column;

    max-width:80%;
    margin: 0 auto;
}

.account-settings-form button{
    margin-top:15px;
}

.account-settings-form label{
    margin-top:15px;
    border-radius: 5px;
}

.account-settings-form input{
    border-radius: 5px;
    padding: 3px;

}