.adduser-container
{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    color: white;
    width:100%;
    margin-top:20px;

    @include for-tablet{
        width:80%;
    }

    @include for-desktop{
        width: 60%;
    }
}

.add-user-form{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    max-width:70%;
}

.add-user-form input{
    @include for-tablet{
        border-radius: 5px;
    }
    
}

.add-user-form select{
    padding: 4px;
    @include for-tablet{
        border-radius: 5px;
    }
}

.add-user-form label{
    margin-top:20px;
}
.add-user-form input{
    padding: 5px;
}

.add-user-form select{
    margin-top:5px;
    padding: 3px;
}

.icon-option:hover{
    box-shadow: 0 0 1pt 1pt white;
    opacity:0.7;
}

.icon-selected{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 1pt 1pt $lightPurp;
    margin-bottom: 20px;
    margin-top: 40px;

    @include for-tablet{
        width:200px;
        height:200px;
        margin-bottom: 40px;
        margin-top: 60px;
    }

    @include for-desktop{
        width:300px;
        height:300px;
    }
}
