
body{
background-color: #868f96;}

.hidden{
    display:none;
}

ul{
    list-style:none;
}

li{
    text-decoration: none;
}

.roku-jumbotron{
    width: 100%;
    margin-top: 20px;
    padding:20px;
    background-color: $darkPurp;
    color:white;

}

.jumbotron{
    width: 100%;
}

.form-header{
    text-align: center;
}

.lead{
    padding:20px;
}

.button{
    color: white;
    border: 0px solid transparent;
}

a{text-decoration: none;}

.router-view{
    padding-top:50px;
    padding-bottom:50px;
}

.back-button{
    padding:  6px;
    background-color: $lightPurp;
    width:30%;
    text-align: center;
    margin-left:10px;
    border-radius: 5px;
}

select:hover{
    cursor: pointer;
}

img:hover{
    cursor: pointer;
}

.button{
    cursor: pointer;
}

.app{
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

:hover{
    transition: 0.5s;
}