.change-permissions-container{
    width:100%;
    margin: 0 auto;

    @include for-tablet{
        width:80%;
    }

    @include for-desktop{
        width: 60%;
    }
}

.change-permissions-form{
    display: flex;
    flex-direction: column;
    width:60%;
    margin: 0 auto;
}

.change-permissions-form button{
    margin-top:25px;
}

.change-permissions-form label{
    margin-top:15px;
    border-radius: 5px;
}

.change-permissions-form input{
    border-radius: 5px;
    padding: 3px;
}

.change-permissions-form select{
    margin-top:5px;
    border-radius: 5px;
    padding: 4px;
}

.edit-info{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#manage-users-back{
    margin: 0 auto;
    max-width:60%;
}






.all-account-users{
    margin: 0 auto;
}

.all-account-users button{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 80%;
}

.manage-users-form select{
    margin-top:5px;
    border-radius: 5px;
    padding: 4px;
}

.manage-users-form{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

}

.manage-users-container{
    max-width:100%;
    margin: 0 auto;

    @include for-tablet{
        max-width:80%;
    }

    @include for-desktop{
        max-width: 60%;
    }
}

.delete-btn{
    widows: 80%;
    margin: 0 auto;
}