
.drop-down-box{
    display: flex;
    flex-direction: row;
    background-color: white;
        color:$darkPurp;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;

    width: 100%;


    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;


    @include for-tablet{
        font-size: 16px;
        border-radius: 5px;
    }
    
}

.drop-down-link{
  color: $darkPurp;
    text-decoration: none;
    margin: 0 auto;
    padding:10px;
    max-width:100%;

}

.drop-down-box:hover{
    box-shadow: 0 0 1pt 1pt $darkPurp;
    color: $darkPurp;
    text-decoration: none;
    opacity:0.8;
}

.drop-down{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    max-width:100%;

    @include for-tablet{
        position: absolute;
        right: 0;
        width: 200px;
        border-radius: 0 0 0 5px;
    }

    @include for-desktop{
      width:350px;
    }
}


@keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
  }}