
.drop-down-box{
    display: flex;
    flex-direction: row;
    background-color: $lightPurp;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;

    width: 100%;


    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;


    @include for-desktop{
        background-color: white;
        color:$darkPurp;
        font-size: 16px;
    }
}

.drop-down-link{
    color:white;
    text-decoration: none;
    margin: 0 auto;
    padding:10px;
    max-width:100%;

    @include for-desktop{
        color: $darkPurp;
    }
}
.drop-down-box:hover{
    box-shadow: 0 0 1pt 1pt $darkPurp;
    color: white;
    text-decoration: none;
    opacity:0.8;
    color: white;

    @include for-desktop{
      color: $darkPurp;
    }
}

.drop-down{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    max-width:100%;
    opacity: 0.8;


    @include for-desktop{
        display: flex;
        flex-direction: row;
        max-width:70%;
    }
}

#menu-overlay{
    padding-top:15px;
}


@keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0.3;
    }
    100% {
      opacity:1;
  }}