.mediaSection{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    max-width:100%;
    background-color: $darkPurp;
    color: white;
}

.topSection{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    max-width:100%;

    background-color: $darkPurp;
}

.bottomSection{
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    justify-content: center;

    max-width:100%;

    padding: 50px;

    background-color: $darkPurp;
}

.posterSection{
    max-width: 95%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
}

.poster{
    max-width: 33%;
    padding:3px;
}

.textSection{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.videoContainer{
    width: 100%;
    margin: 0 auto;
    justify-content: center;

    padding:15px;
}

.selectedVideo{
    display: block;
    width: 100%;
}

iframe{
    height: 300px;
}

.selectedAlbum{
    display: flex;
    width:100%;
    padding: 10px;
}

.audioPlayer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}