@mixin for-tablet {
    @media (min-width: 600px) { @content; }
  }
@mixin for-desktop{
    @media (min-width: 1200px) { @content; }
  }

header{
    display: flex;
    flex-direction: column;
    background-color: white;
    
    position: -webkit-sticky; /* Safari */
    position: sticky;

    margin: 0 auto;

    top: 0;
    
    z-index: 3;

    @include for-desktop{
        padding-left:30px;
        padding-right:30px;
    }
}

.user-icon:hover{
    cursor: pointer;
}

.head-user-link{
    position: absolute;
    right: 0;
    top:0;
    margin-top:15px;
    margin-bottom: 15px;
    margin-right:10px;
    
    @include for-tablet{
        margin-right:30px;
    }
}

.head-logo-link{
    position: relative;
    left: 0;
    top: 0;

    @include for-tablet{
        margin-left:30px;
    }
}

#header-logo{
    width:150px;
}

.logo-icon-box{
    background-color: white;
    padding:10px;
}
