#headerLogo{
    max-width:40%;
    margin-top: 15px;
}


#imageLinks{
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.icon{
    max-width:15%;
}
