header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:20px;
    background-color: white;
    margin-bottom:20px;
}

#header-logo{
    max-width:80%;
    margin: 0 auto;
}
