.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.mediaLinks{
    display:flex;
    flex-direction: column;

    margin: 0 auto;
    width: 100%;
}

.mediaList{
    display:flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
}

.iconLink{
    margin: 0 auto;
}