@mixin for-tablet {
    @media (min-width: 600px) { @content; }
  }
@mixin for-desktop{
    @media (min-width: 1200px) { @content; }
  }


.home-container{
    max-width:80%;
    margin: 0 auto;

    @include for-tablet{
        max-width:60%;
    }

    @include for-desktop{
        max-width: 40%;
    }
}

.home-button{
    background-color: $lightPurp;
    margin: 15px;
    padding:10px;
    text-align: center;
    border-radius: 5px;
}

.home-button-links{
    color:white;

    margin: 0 auto;
}

