.login-container{
    width:100%;
    margin: 0 auto;
    @include for-tablet{
        max-width:80%;
    }

    @include for-desktop{
        max-width: 60%;
    }
}

.go-button{
    width:60%;
    margin: 0 auto;
}

.login-form{
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.login-form label{
    display: none;
}

.login-form input{
    width: 60%;
    padding: 5px;
    border-radius: 5px;
}