body{
    background-color: #4a4a4a;
}

.hidden{display:none;}

#app{
    max-width:100%;
}

ul{
    text-decoration: none;
    display: flex;
    color:white;
}



li{
    text-decoration: none;
    list-style: none;
    color:white;
}


.router-view{
    margin:0 auto;
    max-width:100%;
}

h1{color:white;
font-size: 24px;}

h2{color:white;
    font-size: 22px;}

h3{color:white;
    font-size: 20px;}

h4{color:white;
    font-size: 18px;}

a{color:white;}

.roku-jumbotron{
    background-color: #662C90;
    color: white;
    text-align: center;
}

.form-header{
    color:white;
}

.app-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    background-color: #4a4a4a;
}
