body{
    background-image: linear-gradient( #4a4a4a, #A9A9A9,  #4a4a4a);
    background-color: #4a4a4a;
    display:flex;
    margin: 0 auto;

    color: white;
}

.hidden{display:none;}

#app{
    max-width:100%;
    margin: 0 auto;
}

ul{
    text-decoration: none;
    color:white;
}

li{
    text-decoration: none;
    list-style: none;
}


.router-view{
    max-width:100%;
}

h1{color:white;
font-size: 24px;}

h2{color:white;
    font-size: 22px;}

h3{color:white;
    font-size: 20px;}

h4{color:white;
    font-size: 18px;}

a{color:white;}

.roku-jumbotron{
    background-color: $darkPurp;
    color: white;
    text-align: center;
}

.form-header{
    color:white;
    margin-top: 10px;
}

.app-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #4a4a4a;
}

.lead{
    color:white;
    margin-top: 20px;
}
