.media-container{
    width:100%;
    margin: 0 auto;

    @include for-tablet{
        width:80%;
    }

    @include for-desktop{
        width: 60%;
    }
}

.top-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: $darkPurp;
    width: 100%;

    @include for-tablet{
        border-radius:0 0 5px 5px;
    }
}


.bottom-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: $darkPurp;
    width: 100%;
    padding: 25px;
    margin-top:80px;

    @include for-tablet{
        border-radius: 5px;
    }
}

.bottom-section select{
    margin-top:10px;
    padding: 4px;
    width: 80%;
    margin: 0 auto;
    margin-bottom:20px;

}


.text-section{
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
}

.poster-section{
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding:5px;
}

.poster{
    width:50%;
    padding:10px;
}

//music specific rules
.music-container{
    display: flex;
    flex-direction: column;
    color: white;

    margin-top:20px;

    width:100%;
}

.selected-music{
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 2pt 2pt $lightPurp;

    margin-top:20px;
    margin-bottom: 40px;
}

.audio-player{
    margin-top:15px;
    margin: 0 auto;

    @include for-tablet{
        border-radius: 5px;
    }
}

iframe{
    height: 300px;

    @include for-tablet{
        height: 400px;
    }

    @include for-desktop{
        height: 600px;
    }
}

.poster:hover{
    box-shadow: 0 0 1pt 1pt $lightPurp;
    opacity: 0.7;
    cursor: pointer;
}

.media-description{
    font-size:16px;
    margin-top:10px;

    @include for-tablet{
        font-size:18px;
    }
}

.media-time{
    font-size:14px;
    margin-right: 10px;

    @include for-tablet{
        font-size:16px;
    }
}

.media-year{
    font-size:14px;
    margin-right: 10px;
    @include for-tablet{
        font-size:16px;
    }
}


.media-time{
    font-size:14px;
    margin-right: 10px;
    @include for-tablet{
        font-size:16px;
    }
}

.media-genre{
    font-size:14px;
    margin-right: 10px;

    @include for-tablet{
        font-size:16px;
    }
}

.music-text{
    text-align: center;
}

.decade-label{
    padding:5px;
    margin-right:10px;
}

.genre-selector{
    border-radius: 5px;
}

.filter-con{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top:20px;
    width: 80%;
    margin: 0 auto;
}

.share-btn{
    margin-top:30px;
}

.share-btn a{
    text-decoration: none;
    background-color: white;
    color: $darkPurp;
    font-size:16px;
    padding: 5px;
    border-radius: 5px;
}

.fb-icon{
    margin-right:6px;
}

.share-btn a:hover{
    box-shadow: 0 0 1pt 1pt $lightPurp;
    opacity: 0.7;
}