.media-container{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    max-width:100%;
    color: white;

    margin-top:20px;

    @include for-tablet{
        width:80%;
        margin-top:30px;
    }

    @include for-desktop{
        width: 60%;
        margin-top:40px;
    }
}

.top-section{
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    
    width:100%;

    background-color: $darkPurp;

    border-radius: 8px;
}

.bottom-section{
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    justify-content: center;

    width:100%;

    padding: 25px;

    background-color: $darkPurp;

    margin-top: 80px;
    border-radius: 8px;

}

.text-section{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.poster-section{
    max-width: 95%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
}

.poster{
    justify-content: center;
    max-width: 33%;
    padding:5px;

    @include for-desktop{
        padding: 15px;
    }
}

//music specific rules
.music-container{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    max-width:100%;
    color: white;

    margin-top:20px;
    @include for-tablet{
        max-width:80%;
    }

    @include for-desktop{
        max-width: 60%;
    }
}
.selected-music{
    margin: 0 auto;
    justify-content: center;
}

.audio-player{
    margin-top:15px;
    border-radius: 5px;
}

iframe{
    height: 300px;
    border-radius: 8px 8px 0px 0px;

    @include for-tablet{
        height: 400px;
    }

    @include for-desktop{
        height: 600px;
    }
}

.poster:hover{
    box-shadow: 0 0 1pt 1pt $lightPurp;
    opacity: 0.7;
}

.media-description{
    font-size:16px;
    padding: 5px;

    @include for-tablet{
        font-size:18px;
    }
}

.media-time{
    font-size:12px;
    padding:5px;

    @include for-tablet{
        font-size:14px;
    }
}

.media-year{
    font-size:12px;
    padding: 5px;

    @include for-tablet{
        font-size:14px;
    }
}


.media-time{
    font-size:12px;
    padding: 5px;

    @include for-tablet{
        font-size:14px;
    }
}

.media-genre{
    font-size:12px;
    padding: 5px;

    @include for-tablet{
        font-size:14px;
    }
}