.signup-container{
    max-width:80%;
    margin: 0 auto;

    @include for-tablet{
        max-width:60%;
    }

    @include for-desktop{
        max-width: 40%;
    }
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.login-form input{
    margin: 0 auto;
    max-width: 80%;
    margin-top: 10px;
}