.media-icon-link{
    width: 80px;
}

.media-nav{
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    padding: 20px;

    width:100%;
    color: white;

    justify-content: space-between;

    @include for-tablet{
        width:80%;
    }

    @include for-desktop{
        width: 40%;
    }
}

.media-nav ul{
    display: block;

    justify-content: space-evenly;
}

.icon-con{
    margin: 0 auto;
    padding:2px;
}

.icon-con:hover{
    opacity:0.8;
    box-shadow: 0 0 2pt 2pt $lightPurp;
    cursor: pointer;

    @include for-tablet{
        border-radius: 5px;
    }
}


.userhome-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width:100%;
    color: white;
}

.nav-con{
    background-color: white;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;

    @include for-tablet{
        width: 80%;
        border-radius: 5px;
    }
}

#movie-icon{
    margin-top:5px;
    margin-bottom: 5px;
}

#music-icon{
    margin-top:5px;
    margin-bottom: 5px;
}
