.media-icon-link{
    width: 80px;

    @include for-desktop{
        width:100px;
    }
}

.media-nav{
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    padding: 20px;

    width:100%;
    color: white;
}

.media-nav ul{
    display: block;
    justify-content: space-evenly;


}

.icon-con{
    margin: 0 auto;
    padding:2px;
}

.icon-con:hover{
    opacity:0.8;
    box-shadow: 0 0 2pt 2pt white;
    cursor: pointer;
    border-radius: 5px;
}


.userhome-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width:100%;
    color: white;
}

.nav-con{
    background-color: $darkPurp;
    width: 100%;
    margin: 0 auto;
    padding:10px;

    @include for-tablet{
        width: 80%;
        border-radius:  5px 5px 0 0;
    }

    @include for-desktop{
        width:60%;
    }
}

#movie-icon{
    margin-top:5px;
    margin-bottom: 5px;
}

#music-icon{
    margin-top:5px;
    margin-bottom: 5px;
}
