.welcome-media-button{
    background-color: #A550CC;
    margin: 15px;
}

.welcome-media-links{
    color: white;
    font-size:20px;

    display: flex;
    padding: 15px;

    justify-content: center;    
}

.welcome-admin-links{
    color: white;
}