.media-button{
    background-color: #A550CC;
    margin: 15px;
}

.media-link{
    color: white;
    font-size:20px;

    display: flex;
    padding: 15px;

    justify-content: center;    
}

.text-link{
    color: white;
    display: flex;
    padding: 5px;
}