.welcome-container{
    max-width:100%;
    

    @include for-tablet{
        max-width:80%;
        margin: 0 auto;
    }

    @include for-desktop{
        max-width: 60%;
        margin: 0 auto;
    }
}

.user-container{
    display: flex;
    flex-direction: row;
    max-width:100%;
}

.user-info{
    display: flex;
    flex-direction: column;

    width:300px;
    padding:20px;

    margin: 0 auto;

    @include for-desktop{
        flex-direction: row;
    }
}

.user-icons{
    max-width:33%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;

    @include for-tablet{
        max-width:70%;
    }
}

.user-icons:hover{
    box-shadow: 0 0 1pt 1pt white;
    opacity:0.7;
}

.user-name{
    text-align: left;
    justify-content: center;
    margin: 0 auto;

    font-size: 22px;
    padding-top: 10px;

    @include for-desktop{
        flex-direction: row;
        padding-top:20px;
    }
}

#add-new-user{
    margin: 0 auto;
    max-width:60%;
}